# Byte-compiled / optimized / DLL files
__pycache__/

# formatting / editor files
.vscode/

# test database file
test_db.py

# coverage files
.coverage
htmlcov/

# Files that could contain secrets
.env