flask==1.1.2
flask-marshmallow==0.14.0
flask-sqlalchemy==2.4.4
marshmallow==3.8.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.24.0
pymysql==0.10.1
pytest==6.1.1
pytest-cov==2.10.1
python-dotenv==0.15.0