<!--
    This is the base flask template.
    It contains things that nearly every page in the application should have, like importing Boostrap and AngularJS.
    The hope is that almost all pages in the application can follow this structure.
-->

<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <!-- Bootstrap import -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <!-- AngularJS import -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <!-- AngularJS code -->
        <script src="{% if angular_path %}{{'/static/js/' + angular_path}}{% endif %}"></script>
    </head>
    <!-- prettier-ignore -->
    <body
        {% if angular_app %}ng-app="{{angular_app}}"{% endif %}
        {% if angular_controller %}ng-controller="{{angular_controller}}"{% endif %}
    >
        <nav class="navbar navbar-expand-lg navbar-inverse bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{'/' + session.role}}">PyTrust</a>
                <ul class="nav navbar-nav">
                    <!-- TODO: Put in role-based stuff -->
                    {% if session.role == 'admin' %}
                    <li><a href="#">ADMIN</a></li>
                    {% elif session.role == 'pharmacist' %}
                    <li><a href="#">PHARMACIST</a></li>
                    {% elif session.role == 'patient' %}
                    <li><a href="#">PATIENT</a></li>
                    {% elif session.role == 'hcp' %}
                    <li><a href="#">HCP</a></li>
                    {% endif %}
                    <li><a href="https://github.com/wmboyles/PyTrust">View Source</a></li>
                </ul>
                
                <form class="navbar-form navbar-right" action="/logout" method="GET">
                    <button type="submit" class="btn btn-danger">Log Out</button>
                </form>
                <div class="navbar-text pull-right">{{session.username}}</div>
            </div>
        </nav>
        <div class="container">
            <!-- content unique from base page -->
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
