{% extends 'base.html' %}

<!-- set title -->
{% set title = 'Personnel | Edit Demographics' %}

<!-- set angular path -->
{% set angular_path = 'personnel/editDemographics.js' %}
<!-- set angular app -->
{% set angular_app = 'editDemographicsApp' %}
<!-- set angular controller -->
{% set angular_controller = 'editDemographicsCtrl' %}

<!-- content block -->
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Personnel Edit Demographics</h1>
    </div>
    <div class="panel-body">
        <form
            class="form"
            role="form"
            name="personnel_edit_demographics_form"
            ng-submit="submit_demographics(personnel_edit_demographics_form.$valid)"
        >
            <!-- name, workplace -->
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="personnel_first_name">First Name</label>
                    <input
                        type="text"
                        class="form-control"
                        name="personnel_first_name"
                        ng-model="personnel.first_name"
                        minlength="1"
                        maxlength="127"
                        placeholder="First Name"
                        required
                    />
                </div>
                <div class="form-group col-md-3">
                    <label for="personnel_last_name">Last Name</label>
                    <input
                        type="text"
                        class="form-control"
                        name="personnel_last_name"
                        ng-model="personnel.last_name"
                        minlength="1"
                        maxlength="127"
                        placeholder="Last Name"
                        required
                    />
                </div>
                <div class="form-group col-md-6">
                    <label for="personnel_hospital">Workplace</label>
                    <select
                        class="form-control"
                        name="personnel_hospital"
                        ng-if="personnel.user.role == 'hcp'"
                        ng-model="personnel.hospital"
                        ng-options="h as (h.name + ' - ' + h.address + ' ' + h.city + ', ' + h.state + ' ' + h.zip) for h in workplaces track by h.id"
                    >
                        <option value="">Not Specified</option>
                    </select>
                    <select
                        class="form-control"
                        name="personnel_pharmacy"
                        ng-if="personnel.user.role == 'pharmacist'"
                        ng-model="personnel.pharmacy"
                        ng-options="p as (p.name + ' - ' + p.address + ' ' + p.city + ', ' + p.state + ' ' + p.zip) for p in workplaces track by p.id"
                    >
                        <option value="">Not Specified</option>
                    </select>
                </div>
            </div>
            <!-- location fields -->
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="personnel_address">Address</label>
                    <input
                        type="text"
                        class="form-control"
                        name="personnel_address"
                        ng-model="personnel.address"
                        minlength="1"
                        maxlength="127"
                        placeholder="Street Address"
                        required
                    />
                </div>
                <div class="form-group col-md-3">
                    <label for="personnel_city">City</label>
                    <input
                        type="text"
                        class="form-control"
                        name="personnel_city"
                        ng-model="personnel.city"
                        minlength="1"
                        maxlength="127"
                        placeholder="City"
                        required
                    />
                </div>
                <div class="form-group col-md-3">
                    <label for="personnel_state">State</label>
                    <select
                        class="form-control"
                        name="personnel_state"
                        ng-model="personnel.state"
                        required
                    >
                        <option value="">Select One</option>
                        <!-- prettier-ignore -->
                        <option ng-repeat="st in states" ng-value="st[0]">[[ st[0] + " - " + st[1] ]]</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="personnel_zip">Zip</label>
                    <input
                        type="text"
                        class="form-control"
                        name="personnel_zip"
                        ng-model="personnel.zip"
                        minlength="1"
                        maxlength="5"
                        placeholder="#####"
                        pattern="[0-9]{5}"
                        required
                    />
                </div>
            </div>
            <!-- submit and delete button -->
            <div class="form-row">
                <div class="col-md-6 text-left">
                    <button
                        type="button"
                        class="btn btn-danger"
                        name="delete"
                        ng-click="delete_self()"
                    >
                        Delete
                    </button>
                </div>
                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-success" name="submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
        <!-- success and error messages -->
        <div>
            <!-- prettier-ignore -->
            <p class="text-danger" ng-model="error_message">[[error_message]]</p>
            <!-- prettier-ignore -->
            <p class="text-success" ng-model="success_message">[[success_message]]</p>
        </div>
    </div>
</div>
{% endblock %}
