{% extends 'table_create_page.html' %}

<!-- set title -->
{% set title = 'Admin | Manage Drugs' %}

<!-- set angular path -->
{% set angular_path = 'admin/drugs.js' %}
<!-- set angular app -->
{% set angular_app = 'manageDrugsApp' %}
<!-- set angular controller -->
{% set angular_controller = 'manageDrugsCtrl' %}

<!-- set page heading -->
{% set page_heading = 'Admin Manage Drugs' %}

<!-- table template  -->
{% block table_template %}
<table class="table table-bordered">
    <caption>
        Existing Drugs
    </caption>
    <thead>
        <tr scope="row">
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">NDC Code</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="d in drugs" ng-include="get_template(d)"></tr>
    </tbody>
</table>
{% endblock %}

<!-- table view mode -->
{% block table_view %}
<script type="text/ng-template" id="view">
    <td scope="col">[[d.name]]</td>
    <td scope="col">[[d.type]]</td>
    <td scope="col">[[d.code]]</td>
    <td scope="col">[[d.description]]</td>
    <td scope="col">
        <button class="col-md-6 btn btn-success" ng-click="edit_drug(d)">
            Edit
        </button>
        <button class="col-md-6 btn btn-danger" ng-click="delete_drug(d)">
            Delete
        </button>
    </td>
</script>
{% endblock %}

<!-- table in edit mode -->
{% block table_edit %}
<script type="text/ng-template" id="edit">
    <td scope="col">
        <input type="text" class="form-control" ng-model="selectedDrug.name" maxlength="127"/>
    </td>
    <td scope="col">
        <select class="form-control" ng-model="selectedDrug.type">
            <option ng-repeat="dt in drug_types">[[dt]]</option>
        </select>
    </td>
    <td scope="col">
        <input type="text" class="form-control" ng-model="selectedDrug.code" pattern="[0-9]{4}-[0-9]{4}-[0-9]{2}" maxlength="12"/>
    </td>
    <td scope="col">
        <input type="text" class="form-control" ng-model="selectedDrug.description" maxlength="1023"/>
    </td>
    <td scope="col">
        <button class="col-md-6 btn btn-success" ng-click="save_drug()">Save</button>
        <button class="col-md-6 btn btn-danger" ng-click="reset_edit()">Cancel</button>
    </td>
</script>
{% endblock %}

<!-- create new drug heading -->
{% set create_heading = 'Add a Drug' %}

<!-- create new drug form -->
{% block create_form %}
<form
    class="form-horizontal"
    role="form"
    name="add_drug_form"
    ng-submit="add_drug(add_drug_form.$valid)"
>
    <!-- name, code, type -->
    <div class="row">
        <!-- name -->
        <div class="col-md-4">
            <label for="drug_name">Name</label>
            <input
                type="text"
                class="form-control"
                name="drug_name"
                ng-model="drug.name"
                minlength="1"
                maxlength="127"
                required
            />
        </div>
        <!-- code -->
        <div class="col-md-4">
            <label for="drug_code">Code</label>
            <input
                type="text"
                class="form-control"
                placeholder="####-####-##"
                pattern="[0-9]{4}-[0-9]{4}-[0-9]{2}"
                name="drug_code"
                ng-model="drug.code"
                maxlength="12"
                required
            />
        </div>
        <!-- type -->
        <div class="col-md-4">
            <label for="drug_type">Type</label>
            <select
                class="form-control"
                name="drug_type"
                ng-model="drug.type"
                required
            >
                <option value="">Select One</option>
                <!-- prettier-ignore -->
                <option ng-repeat="dt in drug_types">[[dt]]</option>
            </select>
        </div>
    </div>
    <!-- description -->
    <div class="row">
        <div class="col-md-6">
            <label for="drug_description">Description</label>
            <textarea
                class="form-control"
                rows="5"
                name="drug_description"
                ng-model="drug.description"
                minlength="1"
                maxlength="1023"
                required
            ></textarea>
        </div>
    </div>
    <!-- submit button -->
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success" name="submit">
                Submit
            </button>
        </div>
    </div>
</form>
{% endblock %}
