<!DOCTYPE html>
<html>
    <head>
        <title>Admin | Manage Drugs</title>
        <!-- Bootstrap import -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <!-- AngularJS import -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <!-- AngularJS code -->
        <script>
            var app = angular.module(
                "manageDrugsApp",
                [],
                // Change the delimiter symbols to [[ and ]]
                ($interpolateProvider) => {
                    $interpolateProvider.startSymbol("[[");
                    $interpolateProvider.endSymbol("]]");
                }
            );
            app.controller("manageDrugsCtrl", ($scope, $http) => {
                // Is drug being edited or viewed?
                $scope.get_template = (drug) => {
                    if (drug.id === $scope.selectedDrug.id) {
                        return "edit";
                    } else {
                        return "view";
                    }
                };

                // check that drug fields are valid
                var check_drug = (drug) => {
                    var err = [];
                    if (!drug.name) {
                        err.push("Must have a name");
                    }
                    if (!drug.description) {
                        err.push("Must have a description");
                    }
                    if (!drug.code || !/^\d{4}-\d{4}-\d{2}$/.test(drug.code)) {
                        err.push("Code must be in the format ####-####-##");
                    }

                    return err.join(". ");
                };

                // load all the drugs from the DB
                $scope.load_drugs = () => {
                    $http.get("/api/drugs").then(
                        (res) => {
                            $scope.drugs = res.data;
                        },
                        (err) => {
                            $scope.drugs = [];
                        }
                    );
                };

                // load all the drug types from the db
                $scope.load_drug_types = () => {
                    $http.get("/api/drug_types").then(
                        (res) => {
                            $scope.drug_types = res.data.filter(
                                (type) => type !== "Not Specified"
                            );
                        },
                        (err) => {
                            $scope.drug_types = [];
                        }
                    );
                };

                // drug edit operation is cancelled
                $scope.reset_edit = () => {
                    $scope.selectedDrug = {};
                };

                // drug has been submitted
                $scope.reset_create = () => {
                    $scope.drug = {};
                };

                // reset success and error messages
                $scope.reset_messages = () => {
                    $scope.error_message = "";
                    $scope.success_message = "";
                };

                // when drug is selected for editing
                $scope.edit_drug = (drug) => {
                    $scope.selectedDrug = angular.copy(drug);
                };

                // drug has been edited and now should be saved
                $scope.save_drug = () => {
                    var err = check_drug($scope.selectedDrug);
                    if (err) {
                        $scope.error_message = err;
                        return;
                    }

                    $http.put("/api/drugs", $scope.selectedDrug).then(
                        (res) => {
                            $scope.reset_edit();
                            $scope.load_drugs();
                            $scope.error_message = "";
                            $scope.success_message = "Successfully edited drug";
                        },
                        (err) => {
                            $scope.error_message = "" + err.data;
                            $scope.success_message = "";
                        }
                    );
                };

                // drug is being deleted
                $scope.delete_drug = (drug) => {
                    if (confirm("Are you sure you want to delete this drug?")) {
                        $http.delete("/api/drugs/" + drug.id).then(
                            (res) => {
                                $scope.load_drugs();
                                $scope.error_message = "";
                                $scope.success_message =
                                    "Successfully deleted drug";
                            },
                            (err) => {
                                $scope.error_message = err.data;
                                $scope.success_message = "";
                            }
                        );
                    }
                };

                // a new drug has been submitted for creation
                $scope.add_drug = () => {
                    $http.post("/api/drugs", $scope.drug).then(
                        (res) => {
                            $scope.reset_create();
                            $scope.load_drugs();
                            $scope.error_message = "";
                            $scope.success_message =
                                "Successfully created drug";
                        },
                        (err) => {
                            $scope.error_message = "" + err.data;
                            $scope.success_message = "";
                        }
                    );
                };

                // Runs on page load
                $scope.reset_edit();
                $scope.reset_create();
                $scope.reset_messages();

                $scope.load_drugs();
                $scope.load_drug_types();
            });
        </script>
    </head>
    <body ng-app="manageDrugsApp" ng-controller="manageDrugsCtrl">
        <div class="container">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1>Admin Manage Drugs</h1>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <caption>
                                Existing Drugs
                            </caption>
                            <thead>
                                <tr scope="row">
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">NDC Code</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    ng-repeat="d in drugs"
                                    ng-include="get_template(d)"
                                ></tr>
                            </tbody>
                        </table>

                        <!-- table in view mode -->
                        <script type="text/ng-template" id="view">
                            <td scope="col">[[d.name]]</td>
                            <td scope="col">[[d.type]]</td>
                            <td scope="col">[[d.code]]</td>
                            <td scope="col">[[d.description]]</td>
                            <td scope="col">
                                <button class="col-md-6 btn btn-success" ng-click="edit_drug(d)">Edit</button>
                                <button class="col-md-6 btn btn-danger" ng-click="delete_drug(d)">Delete</button>
                            </td>
                        </script>

                        <!-- table in edit mode -->
                        <script type="text/ng-template" id="edit">
                            <td scope="col">
                                <input type="text" class="form-control" ng-model="selectedDrug.name" maxlength="127"/>
                            </td>
                            <td scope="col">
                                <select class="form-control" ng-model="selectedDrug.type">
                                    <option ng-repeat="dt in drug_types">[[dt]]</option>
                                </select>
                            </td>
                            <td scope="col">
                                <input type="text" class="form-control" ng-model="selectedDrug.code" pattern="[0-9]{4}-[0-9]{4}-[0-9]{2}" maxlength="12"/>
                            </td>
                            <td scope="col">
                                <input type="text" class="form-control" ng-model="selectedDrug.description" maxlength="1023"/>
                            </td>
                            <td scope="col">
                                <button class="col-md-6 btn btn-success" ng-click="save_drug()">Save</button>
                                <button class="col-md-6 btn btn-danger" ng-click="reset_edit()">Cancel</button>
                            </td>
                        </script>

                        <!-- create new drug, success and error messages -->
                        <div class="panel panel-default">
                            <div class="panel-heading">Add a Drug</div>
                            <div class="panel-body">
                                <!-- Create new drug form -->
                                <form
                                    class="form-horizontal"
                                    role="form"
                                    name="add_drug_form"
                                    ng-submit="add_drug(add_drug_form.$valid)"
                                >
                                    <!-- name, code, type -->
                                    <div class="row">
                                        <!-- name -->
                                        <div class="col-md-4">
                                            <label for="drug_name">Name</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="drug_name"
                                                ng-model="drug.name"
                                                minlength="1"
                                                maxlength="127"
                                                required
                                            />
                                        </div>
                                        <!-- code -->
                                        <div class="col-md-4">
                                            <label for="drug_code">Code</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                placeholder="####-####-##"
                                                pattern="[0-9]{4}-[0-9]{4}-[0-9]{2}"
                                                name="drug_code"
                                                ng-model="drug.code"
                                                maxlength="12"
                                                required
                                            />
                                        </div>
                                        <!-- type -->
                                        <div class="col-md-4">
                                            <label for="drug_type">Type</label>
                                            <select
                                                class="form-control"
                                                name="drug_type"
                                                ng-model="drug.type"
                                                required
                                            >
                                                <option value="">
                                                    Select One
                                                </option>
                                                <!-- prettier-ignore -->
                                                <option ng-repeat="dt in drug_types">[[dt]]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- description -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="drug_description"
                                                >Description</label
                                            >
                                            <textarea
                                                class="form-control"
                                                rows="5"
                                                name="drug_description"
                                                ng-model="drug.description"
                                                minlength="1"
                                                maxlength="1023"
                                                required
                                            ></textarea>
                                        </div>
                                    </div>
                                    <!-- submit button -->
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <button
                                                type="submit"
                                                class="btn btn-success"
                                                name="submit"
                                            >
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- success and error messages -->
                                <div>
                                    <!-- prettier-ignore -->
                                    <p class="text-danger" ng-model="error_message">[[error_message]]</p>
                                    <!-- prettier-ignore -->
                                    <p class="text-success" ng-model="success_message">[[success_message]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="/admin">Home</a>
        </div>
    </body>
</html>
