<!DOCTYPE html>
<html>
    <head>
        <title>Admin | Manage Hospitals</title>
        <!-- Bootstrap import -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <!-- AngularJS import -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <!-- AngularJS code -->
        <script>
            var app = angular.module(
                "managehospitalsApp",
                [],
                // Change the delimiter symbols to [[ and ]]
                ($interpolateProvider) => {
                    $interpolateProvider.startSymbol("[[");
                    $interpolateProvider.endSymbol("]]");
                }
            );
            app.controller("mangehospitalsCtrl", ($scope, $http) => {
                // Is the hospital being edited or viewed?
                $scope.get_template = (hospital) => {
                    if (hospital.id === $scope.selected_hospital.id) {
                        return "edit";
                    } else {
                        return "view";
                    }
                };

                // check that the hospital fields are valid
                var check_hospital = (hospital) => {
                    var err = [];
                    if (!hospital.name) {
                        err.push("hospital must have a name");
                    }
                    if (!hospital.address) {
                        err.push("hospital must have an address");
                    }
                    if (!hospital.city) {
                        err.push("hospital must have a city");
                    }
                    if (!hospital.state) {
                        err.push("hospital must have a state");
                    }
                    if (!hospital.zip) {
                        err.push("hospital must have a zip code");
                    }

                    return err.join(". ");
                };

                // load all hospitals from the DB
                $scope.load_hospitals = () => {
                    $http.get("/api/hospitals").then(
                        (res) => {
                            $scope.hospitals = res.data;
                        },
                        (err) => {
                            $scope.hospitals = [];
                        }
                    );
                };

                // get list of states, territories
                $scope.load_states = () => {
                    $http.get("/api/states").then(
                        (res) => {
                            $scope.states = res.data;
                        },
                        (err) => {
                            $scope.states = [];
                        }
                    );
                };

                // hospital edit operation is cancelled
                $scope.reset_edit = () => {
                    $scope.selected_hospital = {};
                };

                // hospital has been submitted
                $scope.reset_create = () => {
                    $scope.hospital = {};
                };

                // reset success and error messages
                $scope.reset_messages = () => {
                    $scope.error_message = "";
                    $scope.success_message = "";
                };

                // when hospital is selected for editing
                $scope.edit_hospital = (hospital) => {
                    $scope.selected_hospital = angular.copy(hospital);
                };

                // hospital has been editing and should not be saved
                $scope.save_hospital = () => {
                    var err = check_hospital($scope.selected_hospital);
                    if (err) {
                        $scope.error_message = err;
                        return;
                    }

                    $http.put("/api/hospitals", $scope.selected_hospital).then(
                        (res) => {
                            $scope.reset_edit();
                            $scope.load_hospitals();
                            $scope.error_message = "";
                            $scope.success_message =
                                "Successfully edited hospital";
                        },
                        (err) => {
                            $scope.error_message = "" + err.data;
                            $scope.success_message = "";
                        }
                    );
                };

                // hospital is being deleted
                $scope.delete_hospital = (hospital) => {
                    if (
                        confirm(
                            "Are you sure you want to delete this hospital?"
                        )
                    ) {
                        $http.delete("/api/hospitals/" + hospital.id).then(
                            (res) => {
                                $scope.load_hospitals();
                                $scope.error_message = "";
                                $scope.success_message =
                                    "Successfully deleted hospital";
                            },
                            (err) => {
                                $scope.error_message = err.data;
                                $scope.success_message = "";
                            }
                        );
                    }
                };

                // a new hospital has been submitted for creation
                $scope.add_hospital = () => {
                    $http.post("/api/hospitals", $scope.hospital).then(
                        (res) => {
                            $scope.reset_create();
                            $scope.load_hospitals();
                            $scope.error_message = "";
                            $scope.success_message =
                                "Successfully created hospital";
                        },
                        (err) => {
                            $scope.error_message = err.data;
                            $scope.success_message = "";
                        }
                    );
                };

                // Runs on page load
                $scope.reset_edit();
                $scope.reset_create();
                $scope.reset_messages();

                $scope.load_hospitals();
                $scope.load_states();
            });
        </script>
    </head>
    <body ng-app="managehospitalsApp" ng-controller="mangehospitalsCtrl">
        <div class="container">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1>Admin Manage hospitals</h1>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <caption>
                                Existing hospitals
                            </caption>
                            <thead>
                                <tr scope="row">
                                    <th scope="col">Name</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    ng-repeat="p in hospitals"
                                    ng-include="get_template(p)"
                                ></tr>
                            </tbody>
                        </table>

                        <!-- table in view mode -->
                        <script type="text/ng-template" id="view">
                            <td scope="col">[[p.name]]</td>
                            <td scope="col">[[p.address + " " + p.city + ", " + p.state + " " + p.zip]]</td>
                            <td scope="col">
                                <button class="col-md-6 btn btn-success" ng-click="edit_hospital(p)">Edit</button>
                            	<button class="col-md-6 btn btn-danger" ng-click="delete_hospital(p)">Delete</button>
                            </td>
                        </script>

                        <!-- table in edit mode -->
                        <script type="text/ng-template" id="edit">
                            <td scope="col">
                                <input
                                    type="text"
                                    class="form-control"
                                    ng-model="selected_hospital.name"
                                    minlength="1"
                                    maxlength="127">
                            </td>
                            <td scope="col">
                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <input
                                            type="text"
                                            class="form-control"
                                            ng-model="selected_hospital.address"
                                            minlength="1"
                                            maxlength="127">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input
                                            type="text"
                                            class="form-control"
                                            ng-model="selected_hospital.city"
                                            minlength="1"
                                            maxlength="127">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <select
                                            class="form-control"
                                            ng-model="selected_hospital.state">
                                            <option
                                                ng-repeat="st in states"
                                                ng-value="st[0]">[[ st[0] + " - " + st[1] ]]
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input
                                            type="text"
                                            class="form-control"
                                            ng-model="selected_hospital.zip"
                                            minlength="1"
                                            maxlength="5">
                                    </div>
                                </div>
                            </td>
                            <td scope="col">
                                <button class="col-md-6 btn btn-success" ng-click="save_hospital()">Save</button>
                            	<button class="col-md-6 btn btn-danger" ng-click="reset_edit()">Cancel</button>
                            </td>
                        </script>

                        <!-- create a new hospital, success and error messages -->
                        <div class="panel panel-default">
                            <div class="panel-heading">Add a hospital</div>
                            <div class="panel-body">
                                <!--- Create a new hospital form -->
                                <form
                                    role="form"
                                    name="add_hospital_form"
                                    ng-submit="add_hospital(add_hospital_form.$valid)"
                                >
                                    <!-- name and street address  -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="hospital_name"
                                                >Name</label
                                            >
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="hospital_name"
                                                ng-model="hospital.name"
                                                minlength="1"
                                                maxlength="127"
                                                required
                                            />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="hospital_address"
                                                >Address</label
                                            >
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="hospital_address"
                                                ng-model="hospital.address"
                                                minlength="1"
                                                maxlength="127"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <!-- city, state, zip -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="hospital_city"
                                                >City</label
                                            >
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="hospital_city"
                                                ng-model="hospital.city"
                                                minlength="1"
                                                maxlength="127"
                                                required
                                            />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="hospital_state"
                                                >State</label
                                            >
                                            <select
                                                name="hospital_state"
                                                class="form-control"
                                                ng-model="hospital.state"
                                                required
                                            >
                                                <option value="">
                                                    Select One
                                                </option>
                                                <!-- prettier-ignore -->
                                                <option ng-repeat="st in states" ng-value="st[0]">[[ st[0] + " - " + st[1] ]]</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="hospital_zip"
                                                >Zip</label
                                            >
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="hospital_zip"
                                                ng-model="hospital.zip"
                                                minlength="1"
                                                maxlength="5"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <!-- submit button -->
                                    <div class="form-row">
                                        <div
                                            class="form-group col-md-12 text-right"
                                        >
                                            <button
                                                type="submit"
                                                class="btn btn-success"
                                                name="submit"
                                            >
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- success and error messages -->
                                <div>
                                    <!-- prettier-ignore -->
                                    <p class="text-danger" ng-model="error_message">[[error_message]]</p>
                                    <!-- prettier-ignore -->
                                    <p class="text-success" ng-model="success_message">[[success_message]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="/admin">Home</a>
        </div>
    </body>
</html>
