<html>
    <head>
        <title>Admin Home</title>
    </head>
    <body>
        <div>
            <h1>Welcome to iTrust2 - Admin</h1>

            <ul>
                <li><a href="/logout">Log Out</a></li>
                <li><a href="/admin/drugs">Manage Drugs</a></li>
                <li><a href="/admin/users">Manage Users</a></li>
                <li><a href="/admin/pharmacies">Manage Pharmacies</a></li>
                <li><a href="/admin/hospitals">Manage Hospitals</a></li>
            </ul>
        </div>
    </body>
</html>
