{% extends 'table_page.html' %}

<!-- set title -->
{% set title = 'Admin | Manage Users' %}

<!-- set angular path -->
{% set angular_path = 'admin/users.js' %}
<!-- set angular app -->
{% set angular_app = 'manageUsersApp' %}
<!-- set angular controller -->
{% set angular_controller = 'manageUsersCtrl' %}

<!-- set page heading -->
{% set page_heading = 'Admin Manage Users' %}

<!-- table template  -->
{% block table_template %}
<table class="table table-bordered">
    <caption>
        Existing Users
    </caption>
    <thead>
        <tr scope="row">
            <th scope="col">Username</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="u in users" ng-include="get_template(u)"></tr>
    </tbody>
</table>
{% endblock %}

<!-- table view mode -->
{% block table_view %}
<script type="text/ng-template" id="view">
    <td scope="col">[[u.username]]</td>
    <td scope="col">[[u.role]]</td>
    <td scope="col">
        <button class="col-md-6 btn btn-success" ng-click="edit_user(u)">Edit</button>
        <button class="col-md-6 btn btn-danger" ng-click="delete_user(u)">Delete</button>
    </td>
</script>
{% endblock %}

<!-- table in edit mode -->
{% block table_edit %}
<script type="text/ng-template" id="edit">
    <td scope="col">
    <input type="text" class="form-control" ng-model="selected_user.username" maxlength="255">
    </td>
    <td scope="col">
    <select class="form-control" ng-model="selected_user.role">
        <option ng-repeat="r in roles">[[r]]</option>
    </select>
    </td>
    <td scope="col">
        <button class="col-md-6 btn btn-success" ng-click="save_user()">Save</button>
        <button class="col-md-6 btn btn-danger" ng-click="reset_edit()">Cancel</button>
    </td>
</script>
{% endblock %}

<!-- create new user heading -->
{% set create_heading = 'Add a User' %}

<!-- create new user form -->
{% block create_form %}
<form
    class="form-horizontal"
    role="form"
    name="add_user_form"
    ng-submit="add_user(add_user_form.$valid)"
>
    <!-- username, password, role -->
    <div class="row">
        <!-- username -->
        <div class="col-md-4">
            <label for="user_username">Username</label>
            <input
                type="text"
                class="form-control"
                name="user_username"
                ng-model="user.username"
                minlength="1"
                maxlength="255"
                required
            />
        </div>
        <!-- password -->
        <div class="col-md-4">
            <label for="user_password">Password</label>
            <input
                type="password"
                class="form-control"
                name="user_password"
                ng-model="user.password"
                minlength="1"
                maxlength="255"
                required
            />
        </div>
        <!-- role -->
        <div class="col-md-4">
            <label for="user_role">Role</label>
            <select
                class="form-control"
                name="user_role"
                ng-model="user.role"
                required
            >
                <option value="">Select One</option>
                <!-- prettier-ignore -->
                <option ng-repeat="r in roles">[[r]]</option>
            </select>
        </div>
    </div>
    <!-- submit button -->
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success" name="submit">
                Submit
            </button>
        </div>
    </div>
</form>
{% endblock %}
