<!DOCTYPE html>>
<html>
    <head>
        <title>Admin | Manage Users</title>
        <!-- Bootstrap import -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <!-- AngularJS import -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <!-- AngularJS code -->
        <script>
            var app = angular.module(
                "manageUsersApp",
                [],
                // Change the delimiter symbols to [[ and ]]
                ($interpolateProvider) => {
                    $interpolateProvider.startSymbol("[[");
                    $interpolateProvider.endSymbol("]]");
                }
            );
            app.controller("manageUsersCtrl", ($scope, $http) => {
                // Is the user being edited or viewed?
                $scope.get_template = (user) => {
                    if (user.id === $scope.selected_user.id) {
                        return "edit";
                    } else {
                        return "view";
                    }
                };

                // check that user fields are valid
                var check_user = (user) => {
                    var err = [];
                    if (!user.username) {
                        err.push("User must have a username");
                    }
                    if (!user.password && !user.password_hash) {
                        err.push("User must have a password");
                    }
                    if (!user.role) {
                        err.push("User must have a role");
                    }

                    return err.join(". ");
                };

                // load all the users from the DB
                $scope.load_users = () => {
                    $http.get("/api/users").then(
                        (res) => {
                            $scope.users = res.data;
                        },
                        (err) => {
                            $scope.users = [];
                        }
                    );
                };

                // load all the user roles from the db
                $scope.load_user_roles = () => {
                    $http.get("/api/user_roles").then(
                        (res) => {
                            $scope.roles = res.data;
                        },
                        (err) => {
                            $scope.roles = [];
                        }
                    );
                };

                // user edit operation is cancelled
                $scope.reset_edit = () => {
                    $scope.selected_user = {};
                };

                // user has been submitted
                $scope.reset_create = () => {
                    $scope.user = {};
                };

                // reset success and error messages
                $scope.reset_messages = () => {
                    $scope.error_message = "";
                    $scope.success_message = "";
                };

                // when user is selected for editing
                $scope.edit_user = (user) => {
                    $scope.selected_user = angular.copy(user);
                };

                // user has been edited and now should be saved
                $scope.save_user = () => {
                    var err = check_user($scope.selected_user);
                    if (err) {
                        $scope.error_message = err;
                        return;
                    }

                    $http.put("/api/users", $scope.selected_user).then(
                        (res) => {
                            $scope.reset_edit();
                            $scope.load_users();
                            $scope.error_message = "";
                            $scope.success_message = "Successfully edited user";
                        },
                        (err) => {
                            $scope.error_message = "" + err.data;
                            $scope.success_message = "";
                        }
                    );
                };

                // user is being deleted
                $scope.delete_user = (user) => {
                    if (confirm("Are you sure you want to delete this user?")) {
                        $http.delete("/api/users/" + user.id).then(
                            (res) => {
                                $scope.load_users();
                                $scope.error_message = "";
                                $scope.success_message =
                                    "Successfully deleted user";
                            },
                            (err) => {
                                $scope.error_message = err.data;
                                $scope.success_message = "";
                            }
                        );
                    }
                };

                // a new user has been submitted for creation
                $scope.add_user = () => {
                    $http.post("/api/users", $scope.user).then(
                        (res) => {
                            $scope.reset_create();
                            $scope.load_users();
                            $scope.error_message = "";
                            $scope.success_message =
                                "Successfully created user";
                        },
                        (err) => {
                            $scope.error_message = err.data;
                            $scope.success_message = "";
                        }
                    );
                };

                // Runs on page load
                $scope.reset_edit();
                $scope.reset_create();
                $scope.reset_messages();

                $scope.load_users();
                $scope.load_user_roles();
            });
        </script>
    </head>
    <body ng-app="manageUsersApp" ng-controller="manageUsersCtrl">
        <div class="container">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1>Admin Manage Users</h1>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <caption>
                                Existing Users
                            </caption>
                            <thead>
                                <tr scope="row">
                                    <th scope="col">Username</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    ng-repeat="u in users"
                                    ng-include="get_template(u)"
                                ></tr>
                            </tbody>
                        </table>

                        <!-- table in view mode -->
                        <script type="text/ng-template" id="view">
                            <td scope="col">[[u.username]]</td>
                            <td scope="col">[[u.role]]</td>
                            <td scope="col">
                            	<button class="col-md-6 btn btn-success" ng-click="edit_user(u)">Edit</button>
                            	<button class="col-md-6 btn btn-danger" ng-click="delete_user(u)">Delete</button>
                            </td>
                        </script>

                        <!-- table in edit mode -->
                        <script type="text/ng-template" id="edit">
                            <td scope="col">
                            <input type="text" class="form-control" ng-model="selected_user.username" maxlength="255">
                            </td>
                            <td scope="col">
                            <select class="form-control" ng-model="selected_user.role">
                            	<option ng-repeat="r in roles">[[r]]</option>
                            </select>
                            </td>
                            <td scope="col">
                                <button class="col-md-6 btn btn-success" ng-click="save_user()">Save</button>
                            	<button class="col-md-6 btn btn-danger" ng-click="reset_edit()">Cancel</button>
                            </td>
                        </script>

                        <!-- create a new user, success and error messages -->
                        <div class="panel panel-default">
                            <div class="panel-heading">Add a User</div>
                            <div class="panel-body">
                                <!-- Create a new user form -->
                                <form
                                    class="form-horizontal"
                                    role="form"
                                    name="add_user_form"
                                    ng-submit="add_user(add_user_form.$valid)"
                                >
                                    <!-- username, password, role -->
                                    <div class="row">
                                        <!-- username -->
                                        <div class="col-md-4">
                                            <label for="user_username"
                                                >Username</label
                                            >
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="user_username"
                                                ng-model="user.username"
                                                minlength="1"
                                                maxlength="255"
                                                required
                                            />
                                        </div>
                                        <!-- password -->
                                        <div class="col-md-4">
                                            <label for="user_password"
                                                >Password</label
                                            >
                                            <input
                                                type="password"
                                                class="form-control"
                                                name="user_password"
                                                ng-model="user.password"
                                                minlength="1"
                                                maxlength="255"
                                                required
                                            />
                                        </div>
                                        <!-- role -->
                                        <div class="col-md-4">
                                            <label for="user_role">Role</label>
                                            <select
                                                class="form-control"
                                                name="user_role"
                                                ng-model="user.role"
                                                required
                                            >
                                                <option value="">
                                                    Select One
                                                </option>
                                                <!-- prettier-ignore -->
                                                <option ng-repeat="r in roles">[[r]]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- submit button -->
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <button
                                                type="submit"
                                                class="btn btn-success"
                                                name="submit"
                                            >
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- success and error messages -->
                                <div>
                                    <!-- prettier-ignore -->
                                    <p class="text-danger" ng-model="error_message">[[error_message]]</p>
                                    <!-- prettier-ignore -->
                                    <p class="text-success" ng-model="success_message">[[success_message]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="/admin">Home</a>
        </div>
    </body>
</html>
