{% extends 'table_create_page.html' %}

<!-- set title -->
{% set title = 'Admin | Manage Hospitals' %}

<!-- set angular path -->
{% set angular_path = 'admin/hospitals.js' %}
<!-- set angular app -->
{% set angular_app = 'manageHospitalsApp' %}
<!-- set angular controller -->
{% set angular_controller = 'manageHospitalsCtrl' %}

<!-- set page heading -->
{% set page_heading = 'Admin Manage Hospitals' %}

<!-- table template  -->
{% block table_template %}
<table class="table table-bordered">
    <caption>
        Existing Hospitals
    </caption>
    <thead>
        <tr scope="row">
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="p in hospitals" ng-include="get_template(p)"></tr>
    </tbody>
</table>
{% endblock %}

<!-- table view mode -->
{% block table_view %}
<script type="text/ng-template" id="view">
    <td scope="col">[[p.name]]</td>
    <td scope="col">[[p.address + " " + p.city + ", " + p.state + " " + p.zip]]</td>
    <td scope="col">
        <button class="col-md-6 btn btn-success" ng-click="edit_hospital(p)">Edit</button>
        <button class="col-md-6 btn btn-danger" ng-click="delete_hospital(p)">Delete</button>
    </td>
</script>
{% endblock %}

<!-- table in edit mode -->
{% block table_edit %}
<script type="text/ng-template" id="edit">
    <td scope="col">
        <input
            type="text"
            class="form-control"
            ng-model="selected_hospital.name"
            minlength="1"
            maxlength="127">
    </td>
    <td scope="col">
        <div class="form-row">
            <div class="form-group col-md-8">
                <input
                    type="text"
                    class="form-control"
                    ng-model="selected_hospital.address"
                    minlength="1"
                    maxlength="127">
            </div>
            <div class="form-group col-md-4">
                <input
                    type="text"
                    class="form-control"
                    ng-model="selected_hospital.city"
                    minlength="1"
                    maxlength="127">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <select
                    class="form-control"
                    ng-model="selected_hospital.state">
                    <option
                        ng-repeat="st in states"
                        ng-value="st[0]">[[ st[0] + " - " + st[1] ]]
                    </option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <input
                    type="text"
                    class="form-control"
                    ng-model="selected_hospital.zip"
                    minlength="1"
                    maxlength="5">
            </div>
        </div>
    </td>
    <td scope="col">
        <button class="col-md-6 btn btn-success" ng-click="save_hospital()">Save</button>
        <button class="col-md-6 btn btn-danger" ng-click="reset_edit()">Cancel</button>
    </td>
</script>
{% endblock %}

<!-- create new hospital heading -->
{% set create_heading = 'Add a Hospital' %}

<!-- create new hospital form -->
{% block create_form %}
<form
    role="form"
    name="add_hospital_form"
    ng-submit="add_hospital(add_hospital_form.$valid)"
>
    <!-- name and street address  -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="hospital_name">Name</label>
            <input
                type="text"
                class="form-control"
                name="hospital_name"
                ng-model="hospital.name"
                minlength="1"
                maxlength="127"
                required
            />
        </div>
        <div class="form-group col-md-6">
            <label for="hospital_address">Address</label>
            <input
                type="text"
                class="form-control"
                name="hospital_address"
                ng-model="hospital.address"
                minlength="1"
                maxlength="127"
                required
            />
        </div>
    </div>
    <!-- city, state, zip -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="hospital_city">City</label>
            <input
                type="text"
                class="form-control"
                name="hospital_city"
                ng-model="hospital.city"
                minlength="1"
                maxlength="127"
                required
            />
        </div>
        <div class="form-group col-md-4">
            <label for="hospital_state">State</label>
            <select
                name="hospital_state"
                class="form-control"
                ng-model="hospital.state"
                required
            >
                <option value="">Select One</option>
                <!-- prettier-ignore -->
                <option ng-repeat="st in states" ng-value="st[0]">[[ st[0] + " - " + st[1] ]]</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="hospital_zip">Zip</label>
            <input
                type="text"
                class="form-control"
                name="hospital_zip"
                ng-model="hospital.zip"
                minlength="1"
                maxlength="5"
                required
            />
        </div>
    </div>
    <!-- submit button -->
    <div class="form-row">
        <div class="form-group col-md-12 text-right">
            <button type="submit" class="btn btn-success" name="submit">
                Submit
            </button>
        </div>
    </div>
</form>
{% endblock %}
