{% extends 'simple_messages.html' %}

<!-- set title -->
{% set title = 'Patient | Edit Demographics' %}

<!-- set angular path -->
{% set angular_path = 'patient/editDemographics.js' %}
<!-- set angular app -->
{% set angular_app = 'editDemographicsApp' %}
<!-- set angular controller -->
{% set angular_controller = 'editDemographicsCtrl' %}

<!-- set page heading -->
{% set page_heading = 'Patient Edit Demographics' %}

<!-- content block -->
{% block panel_content %} {% from 'patient/patient_demographics_form.html'
import patient_demographics_form %} {{patient_demographics_form()}} {% endblock
%}
