{% extends 'table_page.html' %}

<!-- set title -->
{% set title = 'Patient | View Prescriptions' %}

<!-- set angular path -->
{% set angular_path = 'patient/viewPrescriptions.js' %}
<!-- set angular app -->
{% set angular_app = 'viewPrescriptionsApp' %}
<!-- set angular controller -->
{% set angular_controller = 'viewPrescriptionsCtrl' %}

<!-- set page heading -->
{% set page_heading = 'Patient View Prescriptions' %}

<!-- table template -->
{% block table_template %}
<table class="table table-bordered">
    <caption>
        Your Prescriptions
    </caption>
    <thead>
        <tr scope="row">
            <th scope="col">Drug (Type)</th>
            <th scope="col">Dosage</th>
            <th scope="col">Dates</th>
            <th scope="col">Renewals</th>
            <th scope="col">Prescriber</th>
            <th scope="col">Pharmacy</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="p in prescriptions" ng-include="get_template(d)"></tr>
    </tbody>
</table>
{% endblock %}

<!-- table view mode -->
{% block table_view %}
<script type="text/ng-template" id="view">
    <td scope="col">[[p.drug.name + " (" + p.drug.type + ")"]]</td>
    <td scope="col">[[p.dosage]]</td>
    <td scope="col">[[p.start_date + " - " + p.end_date]]</td>
    <td scope="col">[[p.renewals]]</td>
    <td scope="col">[[p.prescriber.first_name + " " + p.prescriber.last_name]]</td>
    <td scope="col">[[p.pharmacy.name + " " + p.pharmacy.address + " " + p.pharmacy.city + ", " + p.pharmacy.state + " " + p.pharmacy.zip]]</td>
</script>
{% endblock %}

<!-- table edit mode -->
{% block table_edit %} {% endblock %}

<!-- create new heading -->
{% set create_heading = '' %}

<!-- create new form -->
{% block create_form %} {% endblock %}
