{% extends 'simple_messages.html' %}

<!-- set title -->
{% set title = 'HCP | Edit Patient Demographics' %}

<!-- set angular path -->
{% set angular_path = 'personnel/hcp/editPatientDemographics.js' %}
<!-- set angular app -->
{% set angular_app = 'editPatientDemographicsApp' %}
<!-- set angular controller -->
{% set angular_controller = 'editPatientDemographicsCtrl' %}

<!-- set page heading -->
{% set page_heading = 'HCP Edit Patient Demographics' %}

<!-- content block -->
{% block panel_content %}
<!-- Select patient panel -->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <label for="selected_patient">Patient</label>
            <select
                class="form-control"
                name="selected_patient"
                ng-model="patient"
                ng-options="p as (p.first_name + ' ' + p.last_name + ' (' + p.user.username + ')') for p in patients track by p.user.id"
            >
                <option value="">Select One</option>
            </select>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% from 'patient/patient_demographics_form.html' import
patient_demographics_form %} {{patient_demographics_form()}} {% endblock %}
