<!--
    This is the base flask template.
    It contains things that nearly every page in the application should have, like importing Boostrap and AngularJS.
    The hope is that almost all pages in the application can follow this structure.
-->

<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <!-- Bootstrap import -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <!-- AngularJS import -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <!-- AngularJS code -->
        <script src="{{'/static/js/' + angular_path}}"></script>
    </head>
    <body ng-app="{{angular_app}}" ng-controller="{{angular_controller}}">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">PyTrust</a>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://github.com/wmboyles/PyTrust"
                            >View Source</a
                        >
                    </li>
                </ul>
                <form
                    class="navbar-form navbar-right"
                    action="/logout"
                    method="GET"
                >
                    <button type="submit" class="btn btn-danger">
                        Log Out
                    </button>
                </form>
                <p class="navbar-text pull-right">{{session.username}}</p>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <!-- content unique from base page -->
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
