<!--
    This is the table create flask template.
    It is a more specific version of the table page where the optional panel
    intended for creating objects and adding them to the table is shown.
    Pages that extend this template will need to define what the heading of the
    panel says and the contents of the panel, usually a form
-->

{% extends 'table_page.html' %}

<!-- panel to create a new object -->
{% block create_panel %}
<!-- area containing form to create whatever is in table-->
<div class="panel panel-default">
    <div class="panel-heading">{{create_heading}}</div>
    <div class="panel-body">{% block create_form %}{% endblock %}</div>
</div>
{% endblock %}
